.profile image {
  width: 100px;
  border-radius: 125px;
  float: right;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: aqua;
}

a:hover {
  color: black;
}

.username {
  font-weight: bold;
}
strong {
  color: green;
  font-style: normal;
}

.LINKS {
  margin-left: 1%;
  border: 1mm rgb(117, 112, 112) solid;
  padding-left: 5%;
}

.LINKS h2 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.LINKS ul {
  list-style: none;
}

.LINKS img {
  width: 35px;
}

.cell {
  background-color: red;
  width: 20px;
  height: 20px;
}
